<div class="animated fadeIn ">
    <div class="row ">
        <div style="width:100% !important;">
            <div class="card">
                <div class="card-header">
                    <strong>بيانات القماش</strong>
                    <div class="card-header-actions">
                        <button type="button" class="card-header-action btn btn-link btn-minimize"
                            (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                    </div>
                </div>

                <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"
                    class="card-body ">
                    <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && onSave()">
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label font-weight-bold" for="clothType">نوع القماش <b
                                    style="color: red">*</b></label>
                            <div class="col-md-2">
                                <select name="clothType" class="form-control" [(ngModel)]="selectedClothTypeId"
                                    #clothType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clothType.invalid }"
                                    required>
                                    <option></option>
                                    <option *ngFor="let clothType of clothTypes" [value]="clothType.id">
                                        {{clothType.name}}</option>
                                </select>
                                <div *ngIf="f.submitted && clothType.invalid" class="invalid-feedback">
                                    <div *ngIf="clothType.errors.required"> برجاء اختيار نوع الطلب</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label font-weight-bold" for="color">نوع القماش <b
                                    style="color: red">*</b></label>
                            <div class="col-md-2">
                                <select name="color" class="form-control" [(ngModel)]="selectedColorId"
                                    #clothType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }"
                                    required>
                                    <option></option>
                                    <option *ngFor="let color of colors" [value]="color.id">
                                        {{color.name}}</option>
                                </select>
                                <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                                    <div *ngIf="color.errors.required"> برجاء اختيار نوع الطلب</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-1 col-form-label font-weight-bold" for="clothPrice">الكمية
                                (*)</label>
                            <div class="col-md-6">
                                <input [(ngModel)]="cloth.price" #price="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" type="number"
                                    name="clothName" class="form-control" required>
                                <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                                    <div *ngIf="price.errors.required"> هذا الحقل مطلوب</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label font-weight-bold" for="clothNotes"> ملاحظات</label>
                            <div class="col-md-6">
                                <input maxlength="120" [(ngModel)]="cloth.notes" type="text" name="clothNotes"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                أضف القماش</button>
                            <button type="reset" class="btn btn-sm btn-danger" (click)="close()"><i
                                    class="fa fa-ban"></i>
                                إلغاء</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>